html {
    /* For Firefox */
    scrollbar-width: none;
    
    /* For IE/Edge */
    -ms-overflow-style: none;
  }
  
  /* For Chrome, Safari, Opera */
*::-webkit-scrollbar {
    display: none;
  }
  

*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #0D0F14;
    overflow: hidden;
    overflow-y: scroll;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
nav{
    width: 100%;
    height: 10%;
    /* background-color: crimson; */
    /* padding:1vw ; */
    display: flex ;
    justify-content: center;
    align-items: center;
}
.nav_container{
    width: 95%;
    height: 70%;
    background-color: #0D0F14;
    display: flex;
    justify-content: space-between;
}
.dropDown_btn , .collabrates{
    height: 100%;
    width: 8%;
    border: #7F45DA solid 0.2vw;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    cursor: pointer;
    /* font-weight: lighter; */
}
.search{
    height: 100%;
    width: 50%;
    /* background-color: crimson; */
    display: flex;
    /* justify-content: space-evenly; */
    gap: 5%;
}
.collabrates{
    width:10%;
    background-color: #6200ff;
    border: none;
    font-size: 1.2vw;
}
.search_bar{
    width: 80%;
    height: 100%;
    background-color: #0D0F14;
    border: 0.1vw solid   #7F45DA;
    border-radius: 1.20vw;
    padding-left: 2vw;
    font-size:2vw;
    outline: none;
    
}

.search_btn{
    /* width: 9%; */
    /* min-width: 40px; Ensures it won't shrink/ */
    height: 100% ;
    aspect-ratio: 1/1; 
    border-radius: 50%;
    background-color: #0D0F14;
    border: 0.1vw solid   #7F45DA;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search_btn img{
    width: 60%;
}
.doc_container{
    width: 100%;
    height: 90%;
    /* background-color: crimson; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.doc_container div{
    height: 90%;
    width: 97%;
    background-color: #0D0F14;
    display: flex;
    flex-wrap:wrap ;
    flex-direction: row;
    justify-content: center ;
    gap: 5%;
    /* align-items: center; */


}
.doc_container div .doc{
    width: 25%;
    height: 55%;
    background-color: #0D0F14;
    border: 0.1vw solid   #7F45DA;
    border-radius: 2vw;
    display: flex;
    /* flex-direction: column; */
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 2vw;
}
.doc_container div .doc .title{
    width: 100%;
    height: 25%;
    /* background-color: crimson; */
    border-bottom: 0.1vw solid #7F45DA;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    overflow-x: scroll;
}
.doc_container div .doc .despriction{
    width: 100%;
    height: 80%;
    /* background-color: crimson; */
    padding-left: 0.7vw;
    padding-top: 2vh;
    /* overflow-x: hidden; */

}
.title h3{
    /* text-align: ; */
    font-size: 2vw;
}
.despriction div{
    width: 100%;
    max-width: 90%;
    height: 100%;
    font-size: 1.5vw;
    transition: background 0.3s ease;
    overflow-y: scroll;
}