<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLANNER</title>
    <link rel="stylesheet" href="/public/css/planner.css">
</head>
<body>
    <main>
        <nav>
            <div class="nav_container">
                <div class="dropDown_btn">
                    <h3>Projects</h3>
                </div>
                <div class="search">
                    <input type="text" name="" class="search_bar" placeholder="search">
                    <div class="search_btn">
                        <img src="/public/assets/search.png" alt="">
                    </div>
                </div>
                <div class="collabrates">
                    <h3>collabrate</h3>
                </div>
            </div>
        </nav>
        <div class="doc_container">
            <div>
                <div class="doc" id="doc-1">
                    <div class="title">
                        <h3>Brain-storm-official</h3>
                    </div>
                    <div class="despriction">
                        <div>
                            this project is dervided from
                            air-drive , but it just not
                            help to share it help to think plan 
                            and build
                        </div>
                    </div>
                </div>
                <div class="doc" id="doc-1">
                    <div class="title">
                        <h3>Brain-storm-official</h3>
                    </div>
                    <div class="despriction">
                        <div>
                            this project is dervided from
                            air-drive , but it just not
                            help to share it help to think plan 
                            and build
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/public/js/render-doc.js"></script>
</body>
</html>